[Unit]
Description="Run cloudflare-updater.service every other minute"

[Timer]
OnCalendar=*:0/2
Unit=cloudflare-updater.service

[Install]
WantedBy=multi-user.target
